.morning{
    background-image: url("images/morning.png");
}
.evening{
    background-image: url("images/evening.png");
}
.night{
    background-image: url("images/night.png");
}
.afternoon{
    background-image: url("images/afternoon.png");
}
body{
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    color: white;
}